* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
html {
    -webkit-text-size-adjust: 100%;
}
fieldset,
img {
    border: 0;
}
img {
    max-width: 100%;
    height: auto;
}
embed,
iframe {
    display: block;
    max-width: 100%;
}
.left,
img[align='left'] {
    display: block;
    float: left;
}
.right,
img[align='right'] {
    display: block;
    float: right;
}
.center,
img[align='middle'] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    float: none;
    clear: both;
}
button,
input[type='submit'] {
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
}
body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 31px;
    color: #111;
    background-color: #fff;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
a {
    color: #428bca;
}
p a {
    text-decoration: underline;
}
a,
p a:hover {
    text-decoration: none;
}
.header {
    border-bottom: 3px double #ddd;
    padding: 31px;
}
.post_date {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.top {
    border-top: 0;
}
.prev_next {
    clear: both;
    color: #888;
    border-top: 1px solid #ddd;
    padding: 16px 31px;
}
.input_text,
input[type='text'] {
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    font-weight: inherit;
    color: #111;
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 0.35em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input_text:focus,
input[type='text']:focus {
    border-color: #eee;
    background-color: #fff;
}
.input_submit,
input[type='submit'] {
    font-family: inherit;
    line-height: 1em;
    font-weight: 700;
    border: 3px double #ddd;
    background: #eee url(images/bg-button.png) repeat-x;
    padding: 0.5em;
}
.footer,
.footer a {
    color: #888;
}
.footer {
    font-size: 13px;
    line-height: 27px;
    text-align: right;
    border-top: 3px double #ddd;
    padding: 16px 31px;
}
.footer a:hover {
    color: #111;
}
body.landing {
    padding-top: 0;
}
.landing .footer,
.landing .header {
    text-align: center;
}
.post_content:after,
.prev_next:after {
    display: table;
    clear: both;
    content: '';
}
@media all and (max-width: 1170px) {
    body {
        padding-top: 0;
    }
    .container,
    .landing .container {
        width: auto;
        max-width: 1170px;
    }
    .header {
        border-top: 1px solid #ddd;
    }
    .landing .header {
        border-top: 0;
    }
}
@media all and (max-width: 450px) {
    .footer,
    .header,
    .prev_next {
        padding-right: 16px;
        padding-left: 16px;
    }
    .left,
    .right,
    img[align='left'],
    img[align='right'] {
        float: none;
    }
}
#header {
    padding: 0;
}
.header {
    background-color: #e7e8ec;
}
.titulo-formulario h2 {
    color: #fff;
}
.formulario-landing {
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}
.form-control {
    border-color: #cfe80a;
    padding: 50px;
    border-radius: 3px;
}
body {
    padding: 0 !important;
}
.form-control {
    font-size: 18px !important;
}
html {
    overflow-x: hidden;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #4a4b49;
}
.form-control::-moz-placeholder {
    color: #3d3f3f !important;
}
.titulo-landing {
    color: #3d3f3f;
}
.formulario-landing {
    background-color: #3d3f3f;
}
.form-control {
    background-color: #fff !important;
    color: #3d3f3f !important;
}
::-webkit-input-placeholder {
    color: #3d3f3f;
}
:-ms-input-placeholder {
    color: #3d3f3f;
}
::-moz-placeholder {
    color: #3d3f3f !important;
}
#beneficios h2 {
    margin-bottom: 30px;
}
footer p {
    text-align: center;
}
footer {
    background-color: #464646;
    padding: 15px 0;
}
footer p {
    color: #fff;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.alert-brown,
.navbar-inverse {
    background-color: #c3bdae;
    border-color: #c3bdae;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.logo {
    background-color: #ddd;
    text-align: center;
    padding: 15px 0;
}
@media (min-width: 768px) {
    .navbar {
        margin-bottom: 20px;
    }
    .navbar-nav > li > a {
        padding-top: 55px !important;
        padding-bottom: 55px !important;
    }
    .navbar-brand > img {
        max-height: 100px;
    }
}

#beneficios {
    background-color: #c3bdae;
    padding: 30px 0;
}
.alert-brown {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
}
